<h1>About</h1>
  <p>
          <%= link_to "One Big Crew", "http://www.onebigcrew.com" %>
          connects film industry professionals seeking to pool their skills and resources to produce films. 
  </p>