<%= render 'pages/home' %>

<h1>Current projects</h1>

<table class="table table-striped">
	<thead>
  		<tr>
    		<th>Name</th>
    		<th>Length</th>
    		<th>Project type</th>
    		<th>Hometown</th>
    		<th>Details</th>
    		<th>Startdate</th>
    		<th>Schedule info</th>
    		<th></th>
    		<th></th>
    		<th></th>
  		</tr>
	</thead>
	
	<tbody>
		<%= render @projects %>
	</tbody>
</table>

<br />

<% if user_signed_in? %> 
	<%= link_to 'New Project', new_project_path %>
<% end %>